
  
  
  .centered {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 2px solid #000; /* Just for visual reference */
}

.bottom-left {
    position: absolute;
    bottom: 30%;
    left: 0;
}

.top-left {
    position: absolute;
    top: 2%;
    left: 0%;
}

.top-right {
    position: absolute;
    top: 0%;
    right: 25%;
}

.bottom-right {
    position: absolute;
    bottom: 30%;
    right: 30%;
}

.centered {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
}
  
    

    
  

  
  